<form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <button (click)="navigateToWelcomePage()" class="return-btn" type="button">
    Back to welcome page
  </button>
  <h3 class="title">Registration form</h3>
  <div class="form-section">
    <h4 class="form-header">Full name <span class="asterisk">*</span></h4>
    <div class="info-container">
      <label class="form-label">
        <input
          formControlName="firstName"
          type="text"
          name="firstName"
          class="form-input"
        />
        First Name
      </label>
      <label class="form-label">
        <input
          formControlName="lastName"
          type="text"
          name="lastName"
          class="form-input"
        />
        Last Name
      </label>
    </div>
  </div>
  <div class="form-section">
    <h4 class="form-header">Address <span class="asterisk">*</span></h4>
    <div class="address-container">
      <label class="form-label">
        <input
          formControlName="address"
          type="text"
          name="address"
          class="form-input"
        />
        Street address
      </label>
      <label class="form-label">
        <input
          formControlName="address2"
          type="text"
          name="address2"
          class="form-input"
        />
        Street address Line 2
      </label>
      <div class="info-container">
        <label class="form-label">
          <input
            formControlName="city"
            type="text"
            name="city"
            class="form-input"
          />
          City
        </label>
        <label class="form-label">
          <input
            formControlName="state"
            type="text"
            name="state"
            class="form-input"
          />
          State / Province
        </label>
      </div>
      <label class="form-label">
        <input
          formControlName="postal"
          type="text"
          name="postal"
          class="form-input"
        />
        Postal / Zip Code
      </label>
    </div>
  </div>
  <div class="form-section">
    <h4 class="form-header">Phone number <span class="asterisk">*</span></h4>
    <input
      formControlName="phone"
      type="text"
      name="phone"
      class="form-input small-sized"
    />
  </div>
  <div class="form-section">
    <h4 class="form-header">E-mail</h4>
    <input
      formControlName="email"
      type="email"
      name="email"
      class="form-input small-sized"
    />
    <label class="form-label" for="email">example&#64;example.com</label>
  </div>
  <hr />
  <button type="submit" class="submit-btn">Submit</button>
</form>
