<form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <button (click)="navigateToWelcomePage()" class="return-btn" type="button">
    Back to welcome page
  </button>
  <img
    src="../../assets/images/global_international_logo.jpg"
    alt="global international company logo"
    class="logo-img"
  />
  <h3 class="title">Registration form</h3>

  <div class="form-section">
    <h4 class="form-header">Full name <span class="asterisk">*</span></h4>
    <div class="info-container">
      <div class="form-small-section">
        <label class="form-label">
          <input
            formControlName="firstName"
            type="text"
            name="firstName"
            class="form-input"
          />
          First Name
        </label>
        <div
          *ngIf="
            _firstName?.invalid && (_firstName?.touched || _firstName?.dirty)
          "
          class="validation-text"
        >
          <span *ngIf="_firstName?.errors?.['minlength']">Min 2 symbols</span>
          <span *ngIf="_firstName?.errors?.['required']"
            >Field is required</span
          >
        </div>
      </div>
      <div class="form-small-section">
        <label class="form-label">
          <input
            formControlName="lastName"
            type="text"
            name="lastName"
            class="form-input"
          />
          Last Name
        </label>
        <div
          *ngIf="_lastName?.invalid && (_lastName?.touched || _lastName?.dirty)"
          class="validation-text"
        >
          <span *ngIf="_lastName?.errors?.['minlength']">Min 2 symbols</span>
          <span *ngIf="_lastName?.errors?.['required']">Field is required</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-section">
    <h4 class="form-header">Address <span class="asterisk">*</span></h4>
    <div class="address-container">
      <div class="form-large-section">
        <label class="form-label">
          <input
            formControlName="address"
            type="text"
            name="address"
            class="form-input"
          />
          Street address
        </label>
        <div
          *ngIf="_address?.invalid && (_address?.touched || _address?.dirty)"
          class="validation-text"
        >
          <span *ngIf="_address?.errors?.['minlength']">Min 2 symbols</span>
          <span *ngIf="_address?.errors?.['required']">Field is required</span>
        </div>
      </div>
      <label class="form-label">
        <input
          formControlName="address2"
          type="text"
          name="address2"
          class="form-input"
        />
        Street address Line 2
      </label>

      <div class="info-container">
        <div class="form-small-section">
          <label class="form-label">
            <input
              formControlName="city"
              type="text"
              name="city"
              class="form-input"
            />
            City
          </label>
          <div
            *ngIf="_city?.invalid && (_city?.touched || _city?.dirty)"
            class="validation-text validation-city"
          >
            <span *ngIf="_city?.errors?.['minlength']">Min 2 symbols</span>
            <span *ngIf="_city?.errors?.['required']">Field is required</span>
          </div>
        </div>
        <div class="form-small-section">
          <label class="form-label">
            <input
              formControlName="state"
              type="text"
              name="state"
              class="form-input"
            />
            State / Province
          </label>
          <div
            *ngIf="_state?.invalid && (_state?.touched || _state?.dirty)"
            class="validation-text validation-state"
          >
            <span *ngIf="_state?.errors?.['minlength']">Min 2 symbols</span>
            <span *ngIf="_state?.errors?.['required']">Field is required</span>
          </div>
        </div>
      </div>
      <div class="form-large-section">
        <label class="form-label">
          <input
            formControlName="postal"
            type="text"
            name="postal"
            class="form-input"
          />
          Postal / Zip Code
        </label>
        <div
          *ngIf="_postal?.invalid && (_postal?.touched || _postal?.dirty)"
          class="validation-text validation-postal"
        >
          <span *ngIf="_postal?.errors?.['minlength']">Min 5 symbols</span>
          <span *ngIf="_postal?.errors?.['required']">Field is required</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h4 class="form-header">Phone number <span class="asterisk">*</span></h4>
    <div class="form-small-section">
      <input
        formControlName="phone"
        type="text"
        name="phone"
        class="form-input small-sized"
        mask="(000) 000 0000"
        placeholder="(000) 000 0000"
      />
      <div
        *ngIf="_phone?.invalid && (_phone?.touched || _phone?.dirty)"
        class="validation-text validation-phone"
      >
        <span *ngIf="_phone?.errors?.['minlength']">Min 10 symbols</span>
        <span *ngIf="_phone?.errors?.['required']">Field is required</span>
      </div>
    </div>
  </div>

  <div class="form-section">
    <h4 class="form-header">E-mail</h4>
    <div class="form-small-section">
      <input
        formControlName="email"
        type="email"
        name="email"
        class="form-input small-sized"
        placeholder="ex: email@yahoo.com"
      />
      <label class="form-label" for="email">example&#64;example.com</label>
      <div
        *ngIf="_email?.invalid && (_email?.touched || _email?.dirty)"
        class="validation-text validation-email"
      >
        <span *ngIf="_email?.errors?.['email']">Invalid email format</span>
      </div>
    </div>
  </div>

  <hr />
  <button type="submit" class="submit-btn">Submit</button>
</form>
