.register-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.return-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 140px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    border: 1px solid lightgray;
    color: gray;
}
.return-btn:hover,
.return-btn:focus {
    border: 2px solid pink;
}
.asterisk {
    color: red;
}
.title {
    text-align: center;
}
.form-header {
    font-weight: 500;
    font-size: 16px;
}
.form-label {
    font-size: 11px;
    font-weight: 400;
    color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-small-section {
width: 100%;
display: flex;
position: relative;
flex-direction: column;
}
.form-large-section {
    position: relative;

    .validation-text {
            top: 41px;
            left: 75px;
        }
}
.validation-text {
    position: absolute;
    top: 41px;
    left: 60px;
    font-size: 11px;
        font-weight: 400;
        color: red;
}
.validation-city {
    left: 25px;
}
.validation-state{
    left: 85px;
}
.validation-postal{
    left: 90px !important;
}
.validation-phone {
    left: 10px;
}
.validation-email {
    left: 122px;
}
.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.address-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-input {
    border: 2px solid lightgray;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.small-sized {
    width: 275px;
}
hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 0;
}
.submit-btn {
    margin-left: 10px;
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    border: 1px solid lightgray;
    color: gray;
    margin-bottom: 100px;
}
.submit-btn:hover,
.submit-btn:focus {
    border: 2px solid rgb(47, 232, 47);
}
.logo-img {
    width: 70px;
    position: absolute;
    right: 10px;
    top: 0px;
    border: 2px solid green;
    border-radius: 4px;
}