<form action="" class="register-form">
  <h3 class="title">Registration form</h3>
  <h4>Full name <span class="asterisk">*</span></h4>
  <div>
    <label>
      <input type="text" name="firstName" />
      First Name
    </label>
    <label>
      <input type="text" name="lastName" />
      Last Name
    </label>
  </div>

  <h4>Address <span class="asterisk">*</span></h4>
  <label>
    <input type="text" name="address" />
    Street address
  </label>
  <label>
    <input type="text" name="address2" />
    Street address Line 2
  </label>

  <div>
    <label>
      <input type="text" name="city" />
      City
    </label>
    <label>
      <input type="text" name="state" />
      State/Province
    </label>
  </div>
  <label>
    <input type="text" name="postal" />
    Postal / Zip Code
  </label>

  <h4>Phone number <span class="asterisk">*</span></h4>
  <input type="number" name="phone" />

  <h4>E-mail</h4>
  <input type="email" name="email" />
</form>
